LLM_PROVIDER="DASHSCOPE"
MODELSCOPE_API_KEY = "your_modelscope_api_key"
DASHSCOPE_API_KEY = "your_dashscope_api_key"
ENABLE_CORS = True

WEB_SEARCH_ENABLED = False
TAVILY_API_KEY = "your_tavily_api_key"
TAVILY_MAX_RESULTS = 4
TAVILY_SEARCH_DEPTH = "basic"
TAVILY_TIMEOUT = 8.0
WEB_SEARCH_RESULT_LIMIT = 4
